body{
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Work Sans', sans-serif;
}
/* sheard style css start  */
.btn-primary{
      border-radius: 8px;
      background: #FF900E;
      padding: 15px 20px;
      border: none;
      color: white;
      font-size: 1.25rem;
      
}
/* sheard style css End */


/* header style css start */
header{
      background-color: rgba(255, 144, 14, 0.10);
      padding: 50px 240px;
}
/* nav style css start  */
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
nav h3{
      color: #131313;
      font-size: 2rem;
      font-weight: 700;

}
nav > ul{
      display: flex;
      align-items: center;
}
nav li {
      list-style: none;
      margin-right: 30px;
      font-weight: 500;
      font-size: 18px;
      color:  #424242;
}
/* nav style css End */
/* banner style start  */


.banner-info{
      max-width: 800px;
      text-align: center;
      margin: 100px auto;
}
.banner-title{
      color: #131313;
      font-family: Work Sans;
      font-size:3rem;
      font-weight: 700;

}
.banner-description{
      color: #727272;
      font-size: 16px;
      font-weight: 400;
}
.image{
      width: 100%;
}
/* banner style End  */

/* header style css end */
/* main section style start  */
main{
      max-width: 1140px;
      margin: 0 auto;
      border: 2px solid brown;
}

/* teams style css start  */
.team-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.team-image{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
      padding: 50px 0;
     
}
.team-info{
      border: 1px solid aquamarine;
      padding: 10px 50px;

}
.team-title{
      color: #131313;
      font-size: 35px;
      font-weight: 700;
}
.quick{
      color: #727272;
      font-size: 25px;
      font-weight: 700;
}
.featur{
      color: #FF900E;
}
.team-discription{
      color: #727272;
      font-size: 11px;
      font-weight: 400;
      padding-bottom: 20px;
      padding-right: 20px;
}
/* teams style css End  */
/* feature style csss start */
.feature-container{
      margin-top: 130px;
      display: flex;
      gap: 140px;

}
.feature-content{
     
}
.feture-content-title{
      color: #131313;
      font-size: 28px;
      font-weight: 700;
      padding: 3px 15px;
      border-left: 2px solid #FF900E;
}
.feture-content-discription{
      color: #727272;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 30px;
}
.box{
      border-radius: 8px;
      background: #FFF;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
      padding: 5px 23px;
      margin-bottom: 10px;
}
.box h4{
      color: #131313;
      font-size: 14px;
      font-weight: 600;
}
.box p{
      color: #727272;
      font-size: 12px;
      font-weight: 400;
}
.feature-image{
      width: 100%;
      
}
.feature-image img{
      width: 100%;
      height: 90%;
     
}
.ten-years-badge{
      border-radius: 8px;
      background: #FF900E;
      color: #FFF;
      width: 117px;
      padding: 14px;
      height: 63px;
      text-align: center;
}
.ten-years-badge h2{
      font-size: 25px;
      margin:0;
}
/* feature style csss End */
/* some fact style css start */
.fact-section{
      margin: 30px 0;
}
.fact-section-title{
      color: #131313;
      font-size: 28px;
      font-weight: 700;
}
.fact-section-discription{
      color: #727272;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 10px;
}
.fact-container{
      display: flex;
      justify-content: space-around;
}
.fact-box{
      width: 146px;
      height: 157px;
      border-radius: 8px;
      border: 1px solid #FF900E;
      text-align: center;
      padding: 20px;
      margin-top: 60px;
}
.fact-box p{
      color: #727272;
      font-size: 12px;

}
/* some fact style css end */

/* main section style End  */







/* responsiv media queries phone */
@media screen and (max-width:567px) {
      header{
            padding: 20px;
      }
      nav,.team-container,.feature-container,.fact-container{
            flex-direction: column;
      }
      nav li{
            margin-right: 15px;
            
      }
      .banner-info{
            margin: 37px auto;
      }
      .team-image{
            grid-template-columns: repeat(1,1fr);
      }
      .team-container{
            padding: 55px 5px;
      }
      .feature-container{
            padding: 0 15px;
            margin-top: 4px;
      }
      .fact-section {
            margin: 30px 0;
            padding: 20px 15px;
      }
      .fact-container{
            align-items: center;
      }



}





/* responsiv media queries Tablet or medium devices */
@media screen and (min-width:577px) and (max-width:960px) {
      header{
            padding: 50px 8px;
      }
      nav,.team-container,.feature-container,.fact-container{
            flex-direction: column;
      }
      .banner-info{
            margin: 60px auto;
      }
      .team-image{
            padding:0 50px;
      }
      .team-info{
            text-align: center;
      }
      .feature-container {
            margin-top: 130px;
            display: flex;
            gap: 140px;
            padding: 0 63px;
      }
      .fact-section {
            margin: 30px 48px;
            padding: 30px 30px;
      }
      .fact-container {
            /* flex-direction: column;
            align-items: center; */
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-left: 106px
        }

      
      

      
}