body{
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Work Sans', sans-serif;
}
h2{
      color: #ad1b1b;
      font-weight: 400;
}
p{
      font-size: 16px;
}